
{% extends 'ration_header.html' %}
{% block content %}


<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">

    <section >

<div class="col p-2 bg-info container">
  <h3>Viewing Order Requests.. </h3>
</div>
<br>
<div class="container">
  <table  class="table">
    <tr>
        <td >SL NO: </td>
        <td>USER ID:</td>
        <td>NAME :</td>
        <TD>REQUESTED DATE:</TD>
        <TH></TH>

    </tr>
{% for data in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
        <td>{{ data.1}}</td>
        <td>{{data.5}}</td>
        <td>{{ data.2 }}</td>
      <td><a href="../proceed_items/{{ data.0 }}">Proceed Items</a></td>

    </tr>
{% endfor %}
  </table>
</div>

    </section>

</div>
{% endblock %}