{% extends 'register_header.html' %}
{% block content %}

<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">

    <section id="register">
<div class="col p-2 bg-info container">
  <h3>Select Taluk</h3>
</div>
<br>
<div class="container">
  <table  class="table">
    <tr>
        <td >SL NO: </td>
      <td>NAME:</td>
      <td></td>
    </tr>
{% for data in taluk %}
    <tr>
      <td>{{ forloop.counter }}</td>
        <td>{{ data.2 }}</td>
      <td><a href="../register_shop/{{ data.0 }}">Choose Taluk</a></td>
    </tr>
{% endfor %}
  </table>
</div>

    </section>

</div>
 {% endblock %}